@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&family=Open+Sans&display=swap');
@import '~normalize.css';

body {
	max-width: 1200px;
	margin: 30px auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	@media screen and (max-width: 1199px) {
		margin: 30px 30px;
	}
}

h1 {
	font-family: 'Lexend Zetta', sans-serif;
	font-size: 40px;
	letter-spacing: -5px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	padding-left: 6px;
}


